@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300;400;500&display=swap');

/* ========== RESET GLOBAL ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url('fundo4.jpeg') no-repeat center center / cover;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Centraliza verticalmente */
  align-items: center;
  text-align: center;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

#gifts h2 {
  text-align: center; 
  color: #7C8C5E;
  font-size: 2.8rem;
  font-weight: 100;
  font-family: "Parisienne", cursive;
  margin-bottom: 25px; 
}

.subtitle {
  text-align: center;
}

#gifts span {
  font-weight: bold;
}

.gift-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-top: 30px;
}

.gift-box {
  background-color: #fff;
  border-radius: 16px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 24px;
  text-align: center;
  transition: transform 0.2s ease;
  border: 1px solid #7C8C5E;
}

.gift-box:hover {
  transform: translateY(-5px);
}

.gift-box img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin-bottom: 16px;
}

.gift-box h3 {
  margin: 8px 0;
  color: #7C8C5E;
}

.gift-box p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 10px;
}

.gift-box .price {
  font-weight: bold;
  margin-bottom: 16px;
  color: #444;
}

button {
  background-color: #7C8C5E;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #C7D6A8;
  color: black;
  border: 1px solid #7c8c5e;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 16px;
  max-width: 400px;
  text-align: center;
}

.modal-content h2 {
  color: #7C8C5E;
  margin-bottom: 10px;
}

.modal-content p {
  color: #555;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.payment-buttons button {
  width: 100%;
  margin-bottom: 10px;
}

.close-btn {
  background: transparent;
  color: #999;
  font-size: 0.9rem;
  margin-top: 10px;
}
